/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/

:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    --first-color: #069C54;
    --first-color-alt: #048654;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #A6A6A6;
    --body-color: #FBFEFD;
    --container-color: #FFFFFF;
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes ==========*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
     :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/*========== BASE ==========*/

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*========== CLASS CSS ==========*/

.section {
    padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
    text-align: center;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle {
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}


/*========== LAYOUT ==========*/

.bd-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #43613464;
}


/*========== NAV ==========*/

.nav {
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0 1rem;
        text-align: center;
        background-color: var(--body-color);
        transition: .4s;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
        border-radius: 0 0 1rem 1rem;
        z-index: var(--z-fixed);
    }
}

.nav__item {
    margin-bottom: var(--mb-2);
}

.nav__link,
.nav__logo,
.nav__toggle {
    color: #fff;
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__link {
    transition: .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
}


/* Show menu */

.show-menu {
    top: var(--header-height);
}


/* Active menu */

.active-link {
    color: var(--first-color);
}


/* Change background header */

.scroll-header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}


/* Scroll top */

.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: rgba(6, 156, 84, .5);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop:hover {
    background-color: var(--first-color-alt);
}

.scrolltop__icon {
    font-size: 1.8rem;
    color: var(--body-color);
}


/* Show scrolltop */

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about p {
    font-size: 12px;
    margin-bottom: 5px;
}

.about h3 {
    font-size: 18px;
    color: #272727;
    margin-bottom: 15px;
    margin-top: 10px;
}

.about .icon-boxes h4 {
    font-size: 18px;
    color: #4b7dab;
    margin-bottom: 15px;
}

.about .icon-boxes h3 {
    font-size: 28px;
    font-weight: 700;
    color: #2c4964;
    margin-bottom: 15px;
}

.about .icon-box {
    margin-top: 40px;
}

.about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #8dc2f1;
    border-radius: 50px;
    transition: 0.5s;
}

.about .icon-box .icon i {
    color: #1977cc;
    font-size: 32px;
}

.about .icon-box:hover .icon {
    background: #1977cc;
    border-color: #1977cc;
}

.about .icon-box:hover .icon i {
    color: #fff;
}

.about .icon-box .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
}

.about .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
}

.about .icon-box .title a:hover {
    color: #1977cc;
}

.about .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
}

.about .video-box {
    background: url("../img/about.jpg") center center no-repeat;
    background-size: cover;
    min-height: 500px;
}

.about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#1977cc 50%, rgba(25, 119, 204, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}

.about .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(25, 119, 204, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
    border-left: 15px solid #1977cc;
    transform: scale(20);
}

.about .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}


/*========== HOME ==========*/

.home__container {
    height: calc(100vh - var(--header-height));
    align-content: center;
}

.home__title {
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.home__subtitle {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
}

.home__img {
    width: 300px;
    justify-self: center;
}


/*========== BUTTONS ==========*/

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
    margin-top: 20px;
}

.button:hover {
    background-color: var(--first-color-alt);
}


/*========== ABOUT ==========*/

#about {
    background: white url(../img/bg.png) no-repeat center top;
    background-size: cover;
}

.about__data {
    text-align: center;
}

.about__description {
    margin-bottom: var(--mb-3);
}

.about__img {
    width: 280px;
    border-radius: .5rem;
    justify-self: center;
    height: 100%;
}

#hero {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5)
}

#hero video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
    font-family: 'object-fit: cover';
}

#hero .texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    background: url('../texture.png');
}

#hero .caption {
    position: relative;
    z-index: 20;
    text-align: center;
    color: #ffffff;
}

#hero .caption h1 {
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0.5rem;
}

#hero .caption h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.donasi {
    padding: 4em 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.btn.btn-donasi {
    color: #475E2E;
    background-color: #F7D009;
    border-radius: 6px;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    margin-top: px;
}

.donasi img {
    -webkit-box-shadow: 0 4px 30px -5px black;
    box-shadow: 0 4px 30px -5px black;
    border-radius: 7px;
}

.donasi h2 {
    color: #F7D009;
    font-size: 35px;
    font-weight: 700;
}

.donasi p {
    color: #fff;
    font-size: 15px;
}

.donasi .featured-text {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.donasi.overlay-color,
.donasi.overlay-color-2 {
    position: relative;
}

.donasi.overlay-color:before,
.donasi.overlay-color-2:before {
    position: absolute;
    content: "";
    background: #28a745;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .9;
}

.donasi.overlay-color-2:before {
    background: #f7ca44;
}


/*--------------------------------------------------------------
# project
--------------------------------------------------------------*/

.product .box {
    padding: 30px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    border-radius: 26px;
    background-color: #fff;
}

.product .box img {
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
    width: 70%;
}

.product .box h3 {
    font-size: 16px;
    color: #475E2E;
    font-weight: 700;
    margin-bottom: 18px;
}

.product .box p {
    font-size: 14px;
    color: #475E2E;
}

.product .box:hover {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.product .box:hover img {
    transform: scale(1);
}


/*--------------------------------------------------------------
# warehouse
--------------------------------------------------------------*/

.btn.btn-warehouse {
    color: #fff;
    background-color: #475E2E;
    border-radius: 6px;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    margin-top: 20px;
}

.warehouse .box {
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    border-radius: 8px;
    background-color: #fff;
}

.warehouse .boxcontent {
    padding: 50px 25px 25px 25px;
    text-align: left;
    transition: 0.3s;
    height: 100%;
}

.warehouse .boxcontent2 {
    padding: 50px 25px 25px 25px;
    text-align: right;
    transition: 0.3s;
    height: 100%;
}

.warehouse .box img {
    transition: 0.5s;
    transform: scale(1.1);
    width: 100%;
    border-radius: 28px;
    padding: 20px 25px 20px 25px;
}

.warehouse .boxcontent h3 {
    font-size: 16px;
    color: #475E2E;
    font-weight: 700;
    margin-bottom: 18px;
}

.warehouse .boxcontent p {
    font-size: 14px;
    color: #475E2E;
}

.warehouse .boxcontent2 h3 {
    font-size: 16px;
    color: #475E2E;
    font-weight: 700;
    margin-bottom: 18px;
}

.warehouse .boxcontent2 p {
    font-size: 14px;
    color: #475E2E;
}

.warehouse .boxcontent:hover {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.warehouse .box:hover img {
    transform: scale(1);
}


/*========== SERVICES ==========*/

.services__container {
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content {
    text-align: center;
}

.services__img {
    width: 64px;
    height: 64px;
    fill: var(--first-color);
    margin-bottom: var(--mb-2);
}

.services__title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.services__description {
    padding: 0 1.5rem;
}


/*========== MENU ==========*/

.menu__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.menu__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3, 74, 40, .15);
    padding: .75rem;
}

.menu__img {
    width: 100px;
    align-self: center;
    margin-bottom: var(--mb-2);
}

.menu__name,
.menu__preci {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.menu__name {
    font-size: var(--normal-font-size);
}

.menu__detail,
.menu__preci {
    font-size: var(--small-font-size);
}

.menu__detail {
    margin-bottom: var(--mb-1);
}

.menu__button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: .625rem .813rem;
    border-radius: .5rem 0 .5rem 0;
}


/*========== CONTACT ==========*/

.contact .box {
    padding: 20px 0 10px 50px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
    border-radius: 12px;
    background-color: #fff;
}

.contact__container {
    text-align: center;
}

.contact__description {
    margin-bottom: var(--mb-3);
}

.contact .contact__button a {
    color: #fff;
}

.contact .contact__button a:hover {
    color: #fff;
}


/*========== FOOTER ==========*/

.footer__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}

.footer .footer-content .footer-logo {
    width: 60px;
}

.footer .footer-content {
    text-align: center;
}

.footer-description {
    display: block;
    font-size: var(--small-font-size);
    margin: .25rem 0 var(--mb-3);
}

.footer-social {
    font-size: 20px;
    color: #475E2E;
}

.footer .footer-galery {
    text-align: left;
}

.footer .footer-information {
    text-align: left;
}

.footer-title {
    font-size: 18px;
    color: #000;
    margin-bottom: var(--mb-2);
}

.footer .footer-menu {
    text-align: left;
}

.footer-link {
    display: inline-block;
    color: #000000;
    margin-bottom: var(--mb-1);
    font-size: 16px;
}

.footer-link:hover {
    color: var(--first-color);
}

.footer-copy {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 3.5rem;
}


/*========== MEDIA QUERIES ==========*/

@media screen and (min-width: 576px) {
    .home__container,
    .about__container,
    .app__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .about__data,
    .about__initial,
    .app__data,
    .app__initial,
    .contact__container,
    .contact__initial {
        text-align: initial;
    }
    .about__img,
    .app__img {
        width: 300px;
        order: -1;
    }
    .contact__container {
        grid-template-columns: 1.75fr 1fr;
        align-items: center;
    }
    .contact__button {
        justify-self: center;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .section {
        padding-top: 50px;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__list {
        display: flex;
    }
    .nav__item {
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }
    .nav__toggle {
        display: none;
    }
    .change-theme {
        position: initial;
        margin-left: var(--mb-2);
    }
    .home__container {
        height: 100vh;
        justify-items: center;
    }
    .services__container,
    .menu__container {
        margin-top: var(--mb-6);
    }
    .menu__container {
        grid-template-columns: repeat(3, 210px);
        column-gap: 4rem;
    }
    .menu__content {
        padding: 1.5rem;
    }
    .menu__img {
        width: 130px;
    }
    .app__store {
        margin: 0 var(--mb-1) 0 0;
    }
}

@media screen and (min-width: 960px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }
    .home__img {
        width: 500px;
    }
    .about__container,
    .app__container {
        column-gap: 7rem;
    }
}


/* For tall screens on mobiles y desktop*/

@media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }
}


/*----------
  NAV
----------*/

.bullet-side-navbar {
    position: fixed;
    top: 55%;
    right: 20px;
    z-index: 99999;
    margin-top: -100px;
    text-align: right;
    padding: 30px 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.bullet-side-navbar:hover {
    background: transparent;
}

.bullet-side-navbar:hover .navbullet>li>a>span {
    color: rgb(0, 0, 0);
    display: block;
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px 12px;
    border-radius: 15px;
}

.bullet-side-navbar .navbullet>li a.active {
    background-color: transparent;
    color: black;
}

.bullet-side-navbar .navbullet>li a.active:after {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.bullet-side-navbar .navbullet>li a.active:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
}

.navbullet>li {
    position: relative;
    display: block;
}

.bullet-side-navbar .navbullet>li a {
    color: #fff;
    min-height: 12px;
    background: transparent;
    padding: 5px 45px 5px 25px;
    border-right: none;
}

.bullet-side-navbar .navbullet>li a span {
    display: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.bullet-side-navbar .navbullet>li a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -5px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: transparent;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    border: 2px solid #475E2E;
}

.bullet-side-navbar .navbullet>li a:hover {
    background-color: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: black;
    border-right: 0;
}

.bullet-side-navbar .navbullet>li a:hover>span {
    color: black;
    display: block;
}


/*--------------------------------------------------------------
# About-plastik
--------------------------------------------------------------*/

.about-plastik {
    padding: 150px 0 15px 0;
}

.btn.btn-about-plastik {
    color: #475E2E;
    background-color: transparent;
    border-radius: 6px;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    margin-top: 20px;
    border: 2px solid #475E2E;
}

.about-plastik .box {
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    border-radius: 8px;
    background-color: #fff;
}

.about-plastik .boxcontent {
    padding: 0 25px 25px 25px;
    text-align: left;
    transition: 0.3s;
    height: 100%;
}

.about-plastik .boxcontent .tag {
    padding: 20px 0;
}

.about-plastik .boxcontent span {
    color: #fff;
    background-color: #475E2E;
    border-radius: 6px;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    margin-top: 100px;
}

.about-plastik .boxcontent {
    padding: 0 25px 25px 25px;
    text-align: left;
    transition: 0.3s;
    height: 100%;
}

.about-plastik .boxcontent2 {
    padding: 50px 25px 25px 25px;
    text-align: right;
    transition: 0.3s;
    height: 100%;
}

.about-plastik .boximg img {
    transition: 0.5s;
    transform: scale(1.1);
    width: 100%;
    border-radius: 30px;
    padding: 70px 25px 20px 25px;
}

.about-plastik .boxcontent h3 {
    font-size: 36px;
    color: #475E2E;
    font-weight: 700;
    margin-bottom: 18px;
}

.about-plastik .boxcontent p {
    font-size: 14px;
    color: #000000;
}

.about-plastik .boxcontent2 h3 {
    font-size: 16px;
    color: #475E2E;
    font-weight: 700;
    margin-bottom: 18px;
}

.about-plastik .boxcontent2 p {
    font-size: 14px;
    color: #475E2E;
}

.about-plastik .boxcontent:hover {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.about-plastik .box:hover img {
    transform: scale(1);
}


/*--------------------------------------------------------------
# Solution-plastik
--------------------------------------------------------------*/

.solution-plastik .boxcontent {
    padding: 0 25px 25px 25px;
    text-align: left;
    transition: 0.3s;
    height: 100%;
}

.solution-plastik .boxcontent .tag {
    padding: 20px 0;
}

.solution-plastik .boxcontent span {
    color: #fff;
    background-color: #475E2E;
    border-radius: 6px;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    margin-top: 100px;
}

.solution-plastik .boxcontent {
    padding: 0 25px 25px 25px;
    text-align: left;
    transition: 0.3s;
    height: 100%;
}

.solution-plastik .boxcontent2 {
    padding: 50px 25px 25px 25px;
    text-align: right;
    transition: 0.3s;
    height: 100%;
}

.solution-plastik .boximg img {
    transition: 0.5s;
    transform: scale(1.1);
    width: 100%;
    border-radius: 30px;
    padding: 70px 25px 20px 25px;
}

.solution-plastik .boxcontent h3 {
    font-size: 24px;
    color: #475E2E;
    font-weight: 700;
    margin-bottom: 18px;
}

.solution-plastik .boxcontent h2 {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 18px;
}

.solution-plastik .boxcontent p {
    font-size: 14px;
    color: #000000;
}

.solution-plastik .boxcontent:hover {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.solution-plastik .box:hover img {
    transform: scale(1);
}


/*--------------------------------------------------------------
# Chemical recycling Plustik.id
--------------------------------------------------------------*/

.recycling-plastik {
    padding: 80px 0 15px 0;
}

.btn.btn-recycling-plastik {
    color: #475E2E;
    background-color: transparent;
    border-radius: 6px;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    margin-top: 20px;
    border: 2px solid #475E2E;
}

.recycling-plastik .box {
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    border-radius: 8px;
    background-color: #fff;
}

.recycling-plastik .boxcontent {
    padding: 0 25px 25px 25px;
    text-align: left;
    transition: 0.3s;
    height: 100%;
}

.recycling-plastik .boxcontent .tag {
    padding: 20px 0;
}

.recycling-plastik .boxcontent span {
    color: #fff;
    background-color: #475E2E;
    border-radius: 6px;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    margin-top: 100px;
}

.recycling-plastik .boxcontent {
    padding: 0 25px 25px 25px;
    text-align: left;
    transition: 0.3s;
    height: 100%;
}

.recycling-plastik .boximg img {
    transition: 0.5s;
    transform: scale(1.1);
    width: 100%;
    border-radius: 30px;
    padding: 40px 25px 20px 25px;
}

.recycling-plastik .boxcontent h3 {
    font-size: 36px;
    color: #475E2E;
    font-weight: 700;
    margin-bottom: 18px;
}

.recycling-plastik .boxcontent p {
    font-size: 14px;
    color: #000000;
}

.recycling-plastik .boxcontent2 h3 {
    font-size: 16px;
    color: #475E2E;
    font-weight: 700;
    margin-bottom: 18px;
}

.recycling-plastik .boxcontent2 p {
    font-size: 14px;
    color: #475E2E;
}

.recycling-plastik .boxcontent:hover {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.recycling-plastik .box:hover img {
    transform: scale(1);
}


/*--------------------------------------------------------------
# Circular Economy Plustik.id
--------------------------------------------------------------*/

.Circular-plastik {
    padding: 80px 0 15px 0;
}

.btn.btn-Circular-plastik {
    color: #475E2E;
    background-color: transparent;
    border-radius: 6px;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    margin-top: 20px;
    border: 2px solid #475E2E;
}

.Circular-plastik .box {
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    border-radius: 8px;
    background-color: #fff;
}

.Circular-plastik .boxcontent {
    padding: 0 25px 25px 25px;
    text-align: left;
    transition: 0.3s;
    height: 100%;
}

.Circular-plastik .boxcontent .tag {
    padding: 20px 0;
}

.Circular-plastik .boxcontent span {
    color: #fff;
    background-color: #475E2E;
    border-radius: 6px;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    margin-top: 100px;
}

.Circular-plastik .boxcontent {
    padding: 0 25px 25px 25px;
    text-align: left;
    transition: 0.3s;
    height: 100%;
}

.Circular-plastik .boximg img {
    transition: 0.5s;
    transform: scale(1.1);
    width: 100%;
    border-radius: 30px;
    padding: 40px 25px 20px 25px;
}

.Circular-plastik .boxcontent h3 {
    font-size: 36px;
    color: #475E2E;
    font-weight: 700;
    margin-bottom: 18px;
}

.Circular-plastik .boxcontent p {
    font-size: 14px;
    color: #000000;
}

.Circular-plastik .boxcontent2 h3 {
    font-size: 16px;
    color: #475E2E;
    font-weight: 700;
    margin-bottom: 18px;
}

.Circular-plastik .boxcontent2 p {
    font-size: 14px;
    color: #475E2E;
}

.Circular-plastik .boxcontent:hover {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.Circular-plastik .box:hover img {
    transform: scale(1);
}